/* You can add global styles to this file, and also import other style files */
/* Global */

body{
    background-color: #1E1E1E;
    z-index: 1;
}

ul{
    list-style: none;
}

button{
    background-color:#7631F0 !important
}

button.active{
    background-color:#ffffff !important
}

input{
    color:#ffffff ;
    background-color:#7631F0;
    padding: 18px;
    border-radius: 10px;
    border: none;
}


input#flexCheckDefault{
    width: 1px !important;
    height: 1px !important;
    padding: 5px !important;

}

input#flexCheckDefault:focus{
    width: 1px !important;
    height: 1px !important;
    padding: 5px !important;
    box-shadow: none;

    
}

input#form-input:focus-visible{
    outline: 3px solid #9363e6;
    box-shadow: none;
    border: none;
}

input#form-input2:focus-visible{
    outline: 3px solid #9363e6;
    box-shadow: none;
    border: none;

}
input#form-input3:focus-visible{
    outline: 3px solid #9363e6;
    box-shadow: none;
    border: none;

}

input#form-input4:focus-visible{
    outline: 3px solid #9363e6;
    box-shadow: none;
    border: none;

}




/* Estilização de componentes */




.backGround-initialScreen{
    height: 100vh;
    background: url(./assets/images/stars.svg) repeat-y center center fixed;
    background-size: 75vh;
    animation: enterScreensUpDown 1.5s ease-out;
 }

 .formatacaoLogo-initialScreen{
    background: url(./assets/images/initial-logo.svg) no-repeat center center fixed;
    animation: enterScreensUpDown 1.5s ease-out;    
}

/* Saída da 1º tela  */

.exit-Btn{
    height: 100vh;
    background:linear-gradient(transparent,grey);
    color: white;
    opacity: 0%;
    border: none;
    
}


.backGround-initialScreen-exit{
    height: 100vh;
    background: url(./assets/images/stars.svg) no-repeat center center fixed;
    background-size: 75vh;
    animation: enterScreensMidLeft 0.7s ease-in-out;
    animation-fill-mode: forwards;
 }

 .formatacaoLogo-initialScreen-exit{
    background: url(./assets/images/initial-logo.svg) no-repeat center center fixed;
    animation: enterScreensMidLeft 0.7s ease-in-out;
    animation-fill-mode: forwards;    
}

.formatacao-Continue{
    color: #ffffff;
    position: fixed;
    z-index: 999999;
    font-family: Arial, Helvetica, sans-serif;
    font-style:bold;
    animation: ctaClick 1.7s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

/* Entrada na 2º tela */

.slogans-secondScreen{
    animation:appearElement 1s ease-in-out;
    animation-fill-mode: forwards;
 }

 .logoFormatting-secondScreen{
    width: 53.72px;
    height: 25.28px;
    animation:appearElement 1s ease-in-out;
    animation-fill-mode: forwards;
}

/* Tela de Login */

.screen-carregando{

    position: fixed;
        width: 100vw !important;
        height: 100vh !important;
        background-color: #1E1E1E !important;
       
  
        
    
}

.logo-carregando{
    animation: loading 1s;
    animation-iteration-count: infinite;
   /*  animation-direction: alternate; */

}

.img-formatting{
    width: 100vh;
}

.button-signup{  
    color: #ffffff !important;
    width: 323px !important;
    height: 74px !important;
    background-color: #1E1E1E !important;
    border-style: solid;
    border-color: #ffffff !important;
    border-radius: 50px !important;
}

.button-signup:hover{  
    color: #ffffff !important;
    width: 323px !important;
    height: 74px !important;
    background-color: #333333 !important;
    border-style: solid;
    border-color: #ffffff !important;
    border-radius: 50px !important;
}

.button-login{  
    color: #ffffff !important;
    width: 323px !important;
    height: 74px !important;
    background-color: #1E1E1E !important;
    border-style: none;
    border-color:transparent!important;
    border-radius: 50px !important;
}

.button-login:hover{  
    color: #ffffff !important;
    width: 323px !important;
    height: 74px !important;
    background-color: #333333 !important;
    border-style: none;
    border-color:transparent!important;
    border-radius: 50px !important;
}

.button-eye-open{  
    width: 35px !important;
    height: 35px !important;
    background:url(./assets/images/open-eye.png) no-repeat center center ;
    background-size: 35px 35px;
    background-color: #1E1E1E !important;
    border-style: none;
   
}

.button-eye-close{  
    width: 35px !important;
    height: 35px !important;
    background:url(./assets/images/close-eye.png) no-repeat center center ;
    background-size: 30px 30px;
    background-color: #1E1E1E !important;
    border-style: none;
}

.alert-properties{
    position: absolute center ;
    left: 0px;
    top: 0px;
    z-index: 3;
    animation:enterScreensUpDown 1.5s ease-in-out;
}

.button-preferences{  
    color: #ffffff !important;
    width: 158px !important;
    height: 74px !important;
    background-color: #7631F0 !important;
    border-style: none;
    border-radius: 50px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #ffffff !important;
    width: 158px !important;
    height: 74px !important;
    background-color: #9363e6 !important;
    border-style: none;
    border-radius: 50px;
   
}


.modal-content {
    background-color: #1E1E1E !important;

}

.estilizacao-preferences{
    overflow-y: auto;
    height: 450px;
    background: linear-gradient(to bottom,transparent,  #7631F0) no-repeat center bottom;
    background-size: 100vw 300px;

}

::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-button{
    background-color: transparent;
}

::-webkit-scrollbar-corner{

}

.button-off{  
    width: 25px !important;
    height: 05px !important;
    background-size: 05px 05px;
    padding: 0px !important;
    margin: 2px;
    background-color: #7631F0 !important;
    border-style: none;
}

.button-on{  
    width: 25px !important;
    height: 05px !important;
    background-size: 05px 05px;
    padding: 0px !important;
    margin: 2px;
    background-color: #ffffff !important;
    border-style: none;
}


img.d-flex{
    margin: 5px;
}

.preferences-properties{
    transform: rotate(180deg);
}



/* 

/* Animações - Key */

@keyframes enterScreensUpDown {
    0%{
        transform: translateY(-100vh);
    }

    100%{

        transform: translateY(0)
    }
}



@keyframes enterScreensMidLeft {

    100%{

        transform: translateX(-100vh)
    }
}

@keyframes appearElement {
    0%{
        opacity: 0%;
        transform: translateY(-100px);
    }


    100%{
        opacity: 100%;
        transform: translateX(0)
    }


}

@keyframes ctaClick {
    0%{
        opacity: 10%;
        transform: translateY(-250px)  rotate(-25deg);
    }



    100%{
        opacity: 10%;
        transform: translateY(-250px)  rotate(25deg);
    }


}

@keyframes loading {

    0%{
      
        transform: translateY(-500px);
    }

    100%{
        transform: translateY(-500px) rotate(360deg);
    }


}


